= form_for [current_organisation, @election, @election_allowed_email], { html: { class: "form-inline" } } do |f|
  - if @election_allowed_email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@election_allowed_email.errors.count, "error")} prohibited this election_allowed_email from being saved:"
      %ul
        - @election_allowed_email.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :email, class: 'form-control', placeholder: "Email"
    = f.hidden_field :election_id, value: @election.id
  .form-group
    = f.hidden_field :organisation_id, value: current_organisation.id

  = f.submit 'Create', class: 'form-control pull-right'

