.container
  .row.individual_election_allowed_email
    .col-md-8.col-md-offset-2
      .row
        .col-md-12.text-left
          %h1= "New user for election: <em>#{@election.title}</em>".html_safe
  %hr.col-md-8.col-md-offset-2
  .row.individual_election_allowed_email
    .col-md-8.col-md-offset-2
      = render 'form'
  - current_organisation.users.select{|u| !@election.election_allowed_emails.map(&:email).include?(u.email)}.each do |u|
    .row.individual_election_allowed_email
      .col-md-8.col-md-offset-2
        = render 'add_user_form', user: u
  %br
  %br
  .row.individual_election_allowed_email
    .col-md-8.col-md-offset-2
      = link_to 'Back', organisation_election_election_allowed_emails_path(current_organisation, @election)
