%p#notice= notice

%p
  %b Email:
  = @election_allowed_email.email
%p
  %b Created at:
  = @election_allowed_email.created_at
%p
  %b Election:
  = @election_allowed_email.election_id
%p
  %b Organisation:
  = @election_allowed_email.organisation_id

= link_to 'Edit', edit_organisation_election_election_allowed_email_path(current_organisation, @election, @election_allowed_email)
\|
= link_to 'Back', organisation_election_election_allowed_emails_path(current_organisation, @election)
