= form_for current_organisation do |f|
  - if current_organisation.errors.any?
    #error_explanation
      %h2= "#{pluralize(current_organisation.errors.count, "error")} prohibited this organisation from being saved:"
      %ul
        - current_organisation.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .actions.form-group
    = f.submit 'Save', class: "btn btn-default"
