%h1 Editing organisation

= render 'form'

= link_to 'Show', @organisation
\|
= link_to 'Back', organisations_path
%br
%br
These are the email address users of #{@organisation.name} can sign up with:
- @organisation.allowed_emails.each do |e|
  %p #{e.email}

%br
%br
You can also create new ones:
%br
%br
= form_for @organisation.allowed_emails.new, :url => organisation_allowed_emails_path(current_organisation), method: :post do |f|
  = f.text_field :email, :placeholder => "Email"
  = f.hidden_field :organisation_id, value: current_organisation.id
  = f.submit "Submit!"

