%p#notice= notice

%p
  %b Title:
  = @election.title
%p
  %b Created at:
  = @election.created_at
%p
  %b Created by:
  = @election.created_by

= link_to 'Edit', edit_organisation_election_path(current_organisation, @election)
\|
= link_to 'Back', organisation_elections_path(current_organisation)
\|
= link_to 'Candidates', organisation_election_candidates_path(current_organisation, @election)
