.container
  .row.election_overview
    .col-md-8.col-md-offset-2.text-left
      .row
        %h3= "Edit #{@candidate.name}"
        %p.small!= "Created #{time_ago_in_words(@candidate.created_at)} ago"
  %hr.col-md-10.col-md-offset-1
  %hr
  .row.election_overview
    .col-md-8.col-md-offset-2.text-left
      .row
        = render 'form'

